.stitched {
   padding: 15px;
   margin: 70px;
   background: #4dff4d;
   color: #fff;
   font-family: Harrington;
   font-size: 100px;
   font-weight: bold;
   line-height: 1.3em;
   border: 7px dashed #fff;
   border-radius: 10px;
   box-shadow: 0 0 0 4px #0080ff, 2px 1px 6px 4px rgba(10, 10, 0, 0.5);
   text-shadow: -10px -10px #000000;
   font-weight: normal;
}

body {
  padding: 10px;
}